body {
   background-image: url("../../images/photo.jpeg"); 
   background-size: 1500px;
}

h1{
    font-size: 50px;
    color:rgb(124, 0, 0);
    text-align: center;
}

h2{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: blue;
}
p{
    font-size: 35px;
    color: rgb(247, 19, 255);
    text-shadow:black;
    text-indent: 150px;
    
}

